/* Общие стили */
body, html {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    font-size: 16px; 
}

.description p {
    margin: 0.5em 1em;
}

/* Стили для боковой панели */
.sidebar {
    flex: 1;
    display: table;
    background-color: #000;
    position: fixed;
    height: 100%;
}

.project-title {
    text-align: center;
    background-color: #000; 
    color: #fff; 
    padding: 10px;
    padding-top: 10px;
    font-size: 18px;
}

.sidebar a {
    display: block;
    color: #aaa; 
    font-size: 22px;
    padding: 10px 16px;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    transition: color 0.3s; 
}

.sidebar a.active,
.sidebar a:hover {
    color: #fff; 
}

.sidebar a::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 5px;
    background-color: transparent;
    transition: background-color 0.3s;
}

.sidebar a:hover::before,
.sidebar a.active::before {
    background-color: #fff;
}

.sidebar a img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 10px; 
    filter: invert(70%); 
}

.sidebar a.active img,
.sidebar a:hover img {
    filter: invert(100%);
}


/* Стили для основного контента */
.content {
    flex: 9;
    margin-left: 320px;
    padding-top: 10px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.copy-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    background-color: #ddd;
    border-radius: 5px;
}
/* Дополнительные стили для проекта */

 .full-width-input {
    width: 500%;
    height: 300px;
    resize: vertical;
    border: 2px solid #000;
}

.progress-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 10px 0;
}

.status {
    flex: 1;
    margin-right: 10px;
}

button {
    float: right;
    background-color: #000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.back-to-docs {
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('images/arrow.png');
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.sectionTitle {
    white-space: nowrap;
}

